@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


header {
    width: 100%;
    height: 3rem;
    border-style: double;
    border-color: rgb(0, 0, 0);
    font-family: "VT323";

    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

header:hover {
    background-color: black;
    border-color:white;
}

header:hover p, header:hover nav {
    color: white;
}

header p, header nav {
    font-size: 2rem;
    display: inline;
}

header p {
    margin-right: 2rem;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "VT323";
}

article p {
    font-size: 1.2rem;
}