<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <pre>
     ____________________________
 / \                             \.
|   | <b>sean cardenas</b>      |.
 \_ | <a href="/">about</a>                      |.
    | <a href="/">contact</a>                    |.
    | <a href="https://reveriepolaris.github.io/">misc site</a>                  |.
    |                            |.
    |                            |.
    |                            |.
    |                            |.
    |                            |.
    |                            |.
    |                            |.
    |                            |.
    |                            |.
    |   _________________________|___
    |  /                            /.
    \_/____________________________/.
        </pre>
        <main>
            {{ content | safe }}    
        </main>
    </body>
</html>